<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Dashboard/Workboard List</h5>
  </div>
  <div class="ibox-content">
    <h6>Dashboards</h6>
    <ol>
      <li>But I must explain</li>
      <li>To you how all this mistaken</li>
      <li>Idea of denouncing pleasure</li>
    </ol>
    <div class="hr-line-dashed"></div>
    <h6>Workboards</h6>
    <ol>
      <li>But I must explain</li>
      <li>To you how all this mistaken</li>
      <li>Idea of denouncing pleasure</li>
    </ol>
  </div>
</div>