<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Dashboard/Workboard List</h5>
  </div>
  <div class="ibox-content">
    <h6>Dashboards</h6>
    <ol>
      {% for dashboard in db %}
        <li><a href="{% url "dashboard:show" id=dashboard.id %}">{{ dashboard.name }}</a></li>
      {% endfor %}
    </ol>
    <div class="hr-line-dashed"></div>
    <h6>Workboards</h6>
    <ol>
      {% for workboard in wb %}
        <li><a href="{% url "workboard:show" id=workboard.id %}">{{ workboard.name }}</a>
      {% endfor %}
    </ol>
  </div>
</div>