<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Connected Tables</h5>
  </div>
  <div class="ibox-content">
    <form class="form" id="data-tables-info-form">
      <div class="form-group">
        {% for table in tables %}
          <div>
            <label> <input type="checkbox" value="{{ table.name }}"> {{ table.name }} </label>
          </div>
        {% endfor %}
      </div>
      <div class="form-group">
        <button id='save-connection-btn' disabled onclick="saveTheConnection()" class="btn btn-sm btn-primary"
                type="button">Save
        </button>
      </div>
    </form>
  </div>
</div>

<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Dashboard/Workboard List</h5>
  </div>
  <div class="ibox-content">
    <h6>Dashboards</h6>
    <ol>
      <li>But I must explain</li>
      <li>To you how all this mistaken</li>
      <li>Idea of denouncing pleasure</li>
    </ol>
    <div class="hr-line-dashed"></div>
    <h6>Workboards</h6>
    <ol>
      <li>But I must explain</li>
      <li>To you how all this mistaken</li>
      <li>Idea of denouncing pleasure</li>
    </ol>
  </div>
</div>

<script>
  $(document).ready(function () {

    {% if errors != '' %}
      toastrMessages('{{ errors|safe }}', 'error');
      $('#save-connection-btn').attr('disabled', true);
    {% endif %}

    $('#data-tables-info-form input:checkbox').change(function () {
      if ($("#data-tables-info-form input:checkbox:checked").length > 0) {
        $('#save-connection-btn').attr('disabled', false);
      }
      else {
        $('#save-connection-btn').attr('disabled', true);
      }
    });


  });
  function saveTheConnection() {
    var frm = $('#data-connection-from form');
    var chkArray = [];
    $("input:checkbox:checked").each(function () {
      chkArray.push($(this).val());
    });
    var selected = chkArray.join(',');

    $.ajax({
      type: frm.attr('method'),
      url: frm.attr('action'),
      data: frm.serialize() + "&submit=save" + "&tables=" + selected
    });
  }
</script>