{% load widget_tweaks %}
{% load common %}

<div id="board-name-form" class="modal fade" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <a class="pull-right" data-dismiss="modal" href="javascript:void(0)"><i class="fa fa-close"></i></a>
        <div class="row">
          <div class="col-sm-12">
            <h3 class="m-t-none m-b">
              {% if board_type == 'dashboard' %}
                {{ "Edit Dashboard Name" }}
              {% else %}
                {{ "Edit Workboard Name" }}
              {% endif %}
            </h3>

            <form role="form" class="form-inline" method="post" action="{{ url }}">
              <div class="form-group">
                <input type="text" name="board_name"
                       value="{% if board_type == 'workboard' %} {{ workboard.name }} {% else %} {{ dashboard.name }} {% endif %}"
                       id="exampleInputEmail2" class="form-control">
              </div>

              <button class="btn btn-white" type="submit">Update</button>
              <button class="btn btn-danger" type="button" data-dismiss="modal" href="javascript:void(0)">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>