{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block content %}

  <div class="wrapper wrapper-content animated fadeInRight">
    {% include 'layouts/messages.html' %}
    {% include 'projects/form.html' with project=edit_project url=form_url %}

    <div class="row">
      <div class="col-sm-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Project Detail</h5>
            <div class="ibox-tools">
              <a href="#project-form" data-toggle="modal">
                <i class="fa fa-pencil-square"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content ibox-heading">
            <h3><i class="fa fa-th-list"></i> {{ project.name }}</h3>
            <small><i class="fa fa-tim"></i> {{ project.description }}</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Connect Remote Database OR File Upload</h5>
          </div>
          <div class="ibox-content">
            <div class="form-group">
              <div class="col-sm-8">
                <label class="radio-inline">
                  <input type="radio" value="file" id="inlineRadio1" name="optionConnectionRadios"> Upload CSV file </label>
                <label class="radio-inline">
                  <input type="radio" value="database" id="inlineRadio2" name="optionConnectionRadios"> Connect Remote Database
                </label>
              </div>
            </div>
          </div>
        </div>
        {% include 'projects/connection_form.html' %}
        {% include 'projects/upload_form.html' %}
      </div>

    </div>
  </div>
{% endblock content %}