{% load widget_tweaks %}
{% load common %}

<div id="sheet-upload-from" class="hidden">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Upload CSV/Excel file</h5>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-sm-12">
          <form role="form">
            <div class="form-group"><label>File name</label>
              <input type="text" placeholder="Enter file name" class="form-control">
            </div>
            <div class="form-group">
              <label>Browse File</label>
              <input type="file" class="form-control">
            </div>
            <div class="form-group">
              <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Upload</strong></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>