<div id="wbtab-{{ workboard.pk }}" class="tab-pane active">
  <div class="panel-body">
    {% if error %}
      <div class="well">
        <h3 class="text-danger">Error:</h3>
        <h4>{{ error }}</h4>
      </div>
    {% elif data and analysis_type == 'table' %}
      <table class="table" id="dataTable">
        <thead>
        <tr>
          {% for column in columns %}
            <th>{{ column }}</th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
          <tr>
            {% for key, value in row.items %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% elif data and analysis_type != 'table' %}
      <div id="dataChart">
        <svg></svg>
      </div>
    {% endif %}
  </div>
</div>

<script>
  {% if data and analysis_type == 'table' %}
    $('#dataTable').DataTable();
  {% elif data and analysis_type == 'bar' %}
    function getProcessedData(data, inputType) {
      var fetchedData = JSON.parse(data);
      data = [];
      fetchedData.forEach(function (variable) {
        data.push({
          key: variable.var_name,
          values: variable.sum
        })
      });

      return data;
    }

    nv.addGraph(function () {
      var height = 400;
      var chart = nv.models.multiBarChart()
              .x(function (d) {
                return d.label
              })
              .y(function (d) {
                return d.value
              })
              .height(height)
              .margin({left: '60'});

      chart.xAxis.rotateLabels('-45');

      chart.yAxis.tickFormat(d3.format(',.3f'))
              .rotateLabels('45');

      d3.select('#dataChart svg')
              .datum(getProcessedData("{{ data|safe|escapejs }}", 'sum'))
              .transition().duration(500)
              .call(chart)
      ;

      nv.utils.windowResize(chart.update);

      return chart;
    });

  {% endif %}
</script>