<div id="wbtab-{{ workboard.pk }}" class="tab-pane active">
  <div class="panel-body">
    {% if error %}
      <div class="well">
        <h3 class="text-danger">Error:</h3>
        <h4>{{ error }}</h4>
      </div>
    {% elif data and analysis_type == 'table' %}
      <table class="table" id="dataTable">
        <thead>
        <tr>
          {% for column in columns %}
            <th>{{ column }}</th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
          <tr>
            {% for key, value in row.items %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% elif data and analysis_type != 'table' %}
      <div id="dataChart">
        <svg></svg>
      </div>
    {% endif %}
  </div>
</div>

<script>
  {% if data and analysis_type == 'table' %}
    $('#dataTable').DataTable();
  {% elif data and analysis_type == 'bar' %}
    nv.addGraph(function () {
      var height = 420;
      var chart = nv.models.multiBarChart()
                      .x(function (d) {
                        return d.label
                      })
                      .y(function (d) {
                        return d.value
                      })
                      .height(height)
                      .margin({left: 80, top: 20, bottom: 120, right: 20})
              ;
      chart.xAxis.rotateLabels('-45');

      chart.yAxis.tickFormat(d3.format(',.3f'))
              .rotateLabels('45');

      d3.select('#dataChart svg')
              .datum(getProcessedBarChartData("{{ data|safe|escapejs }}", 'sum'))
              .transition().duration(500)
              .call(chart)
      ;

      nv.utils.windowResize(chart.update);

      return chart;
    });

  {% elif data and analysis_type == 'pie' %}
    nv.addGraph(function () {
      var chart = nv.models.pieChart()
              .x(function (d) {
                return d.label
              })
              .y(function (d) {
                return d.value
              })
              .showLabels(true);

      d3.select("#dataChart svg")
              .datum(getProcessedPieChartData("{{ data|safe|escapejs }}", 'sum'))
              .transition().duration(350)
              .call(chart);

      return chart;
    });
  {% elif data and analysis_type == 'line' %}
    nv.addGraph(function () {
      var data = getProcessedBarChartData("{{ data|safe|escapejs }}", 'sum');
      var value_list = [];
      var categories = [];
      for (var i = 0; i < data.length; i++) {
        data[i].values.forEach(function (item) {
          value_list.push(item.index_col);
          categories.push(item.label);
        })
      }
      var chart = nv.models.lineChart()
                      .x(function (d) {
                        return d.index_col
                      })
                      .y(function (d) {
                        return d.value
                      })
                      .margin({left: 80, top: 20, bottom: 120, right: 20})
              ;
      chart.xAxis.rotateLabels('-45')
              .showMaxMin(false)
              .tickValues(value_list)
              .tickFormat(function (d) {
                return categories[d];
              });

      chart.yAxis
              .tickFormat(d3.format(',.2f'));

      d3.select('#dataChart svg')
              .datum(data)
              .transition().duration(500)
              .call(chart);

      nv.utils.windowResize(chart.update);

      return chart;
    });

  {% elif data and analysis_type == 'bubble' %}
    nv.addGraph(function () {
      var data = getProcessedBarChartData("{{ data|safe|escapejs }}", 'sum');
      var value_list = [];
      var categories = [];
      for (var i = 0; i < data.length; i++) {
        data[i].values.forEach(function (item) {
          value_list.push(item.index_col);
          categories.push(item.x);
        })
      }
      var chart = nv.models.scatterChart()
              .x(function (d) {
                return d.index_col
              })
              .y(function (d) {
                return d.y
              })
              .pointSize(function (d) {
                return d.size
              })
              .color(d3.scale.category10().range())
              .margin({left: 80, top: 20, bottom: 120, right: 20});

      chart.tooltip.contentGenerator(function (key) {
        return '<h3>' + categories[key.point.index_col] + '</h3>' +
                '<p>' + '{{ yaxis.upper }}' + ': ' + key.point.y + '</p>' +
                '<p>' + '{{ zaxis.upper }}' + ': ' + key.point.size + '</p>';
      });

      chart.xAxis.rotateLabels('-45')
              .showMaxMin(false)
              .tickValues(value_list)
              .tickFormat(function (d) {
                return categories[d];
              });

      chart.yAxis
              .tickFormat(d3.format(',.2f'));

      chart.scatter.showLabels(true);

      d3.select('#dataChart svg')
              .datum(data)
              .call(chart);

      nv.utils.windowResize(chart.update);

      return chart;
    });
  {% endif %}
</script>