/*Users CSS*/
.registration-form #id_role{
    list-style: none;
    padding-left: 0;
}
#side-menu .profile-element img{
    height: 48px;
    width: 48px;
}
/*home CSS */
#inSlider img{
    width: 100%;
    height: 470px;
}

/*Workboard CSS */
.features-list{
    max-height: 200px;
    overflow-y: scroll;
}