{% load staticfiles %}

<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          {% if request.user.is_authenticated %}
            <span>
            {% if request.user.profile.photo %}
              <img alt="image" class="img-circle"
                   src="{{ request.user.profile.photo.url }}"/>
            {% else %}
              <img alt="image" class="img-circle"
                   src="{% static 'img/default_user.jpg' %}"/>
            {% endif %}
            </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <span class="clear"> <span class="block m-t-xs"> <strong
                class="font-bold">{{ request.user.profile.get_full_name }}</strong>
             </span> <span class="text-muted text-xs block">{{ request.user.profile.job_title }} <b
                class="caret"></b></span> </span>
            </a>
          {% else %}
            <span>
              <img alt="image" class="img-circle"
                   src="{% static 'img/default_user.jpg' %}"/>
            </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <span class="clear"> <span class="block m-t-xs"> <strong
                class="font-bold">John Doe</strong>
             </span> <span class="text-muted text-xs block">Art Director <b
                class="caret"></b></span> </span>
            </a>
          {% endif %}
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="{% url "profiles:show" id=request.user.profile.id %}">Profile</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="mailbox.html">Mailbox</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'users:signout' %}">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          MD
        </div>
      </li>

      <li class="active">
        <a href="javascript:void(0)"><i class="fa fa-sitemap"></i> <span class="nav-label">Projects</span><span
            class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse in" style="">
          {% for i in "x"|rjust:"3" %}
            <li class="">
              <a href="javascript:void(0)">Project - {{ i }} <span class="fa arrow"></span></a>
              <ul class="nav nav-third-level collapse" style="height: 0px;">
                {% for j in "x"|rjust:"3" %}
                  <li>
                    <a href="javascript:void(0)">Workboard - {{ j }}</a>
                  </li>
                {% endfor %}
              </ul>
              <ul class="nav nav-third-level collapse" style="height: 0px;">
                {% for j in "x"|rjust:"3" %}
                  <li>
                    <a href="javascript:void(0)">Dashboard - {{ j }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>

      <li class="active">
        <a href="javascript:void(0)"><i class="fa fa-th-large"></i> <span class="nav-label">Projects</span> <span
            class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li class="active"><a href="index.html">Dashboard v.1</a></li>
          <li><a href="dashboard_2.html">Dashboard v.2</a></li>
          <li><a href="dashboard_3.html">Dashboard v.3</a></li>
          <li><a href="dashboard_4_1.html">Dashboard v.4</a></li>
          <li><a href="dashboard_5.html">Dashboard v.5 <span class="label label-primary pull-right">NEW</span></a></li>
        </ul>
      </li>

      <li>
        <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a>
      </li>

    </ul>

  </div>
</nav>